<div>
    <h3>New Contact Added</h3>
    <div>
        <p>
            User Name : <%= user.name%>
        </p>
        <p>
            Email : <%= user.email%>
        </p>
        <p>
            Phone : <%= user.phone%>
        </p>
        <% if(user.status){%>
            <p>
                Status : <%= user.status%>
            </p>
        <%}%>
        <% if(user.message){%>
            <p>
                Message : <%= user.message%>
            </p>
        <%}%>
        <% if(user.pincode){%>
            <p>
                Pincode : <%= user.pincode%>
            </p>
        <%}%>
        <% if(user.city){%>
            <p>
                City : <%= user.city%>
            </p>
        <%}%>
    </div>
</div>